<%- include ../partials/headers.ejs %>

  <div class="">
    //delete method with button
  </div>

  <h1>//<%= Title logic %></h1>
  <p>//<%= Author Logic%></p>
  <p>//<%= Genre Logic%></p>

<%- include ../partial/footer.ejs%>
